{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "last 8 versions",
          "safari >= 9",
          "ie >= 10"
        ]
      },
      "modules": false,
      "loose": true
    }]
  ],
  "plugins": [
    "external-helpers",
    "transform-object-assign"
  ]
}
